<span style="color:blue">**Using Machine Learning to Predict Carbon Footprint:<br> BINARY ENCODING CLUSTERING<br> Dummies and MaxMinScaler**</span><br>



<img src="/Users/miguelopez/Desktop/4-Proyecto ML/img/carbon.png" width="500">

In [66]:
import pandas as pd 
import numpy as np  
import matplotlib.pyplot as plt
import os

In [67]:
df=pd.read_csv('/Users/miguelopez/Desktop/4-Proyecto ML/src/data_raw/Carbon Emission.csv')

In [68]:
df.head()

,Body Type,Sex,Diet,How Often Shower,Heating Energy Source,Transport,Vehicle Type,Social Activity,Monthly Grocery Bill,Frequency of Traveling by Air,Vehicle Monthly Distance Km,Waste Bag Size,Waste Bag Weekly Count,How Long TV PC Daily Hour,How Many New Clothes Monthly,How Long Internet Daily Hour,Energy efficiency,Recycling,Cooking_With,CarbonEmission
0,overweight,female,pescatarian,daily,coal,public,NaN,often,230,frequently,210,large,4,7,26,1,No,['Metal'],"['Stove', 'Oven']",2238
1,obese,female,vegetarian,less frequently,natural gas,walk/bicycle,NaN,often,114,rarely,9,extra large,3,9,38,5,No,['Metal'],"['Stove', 'Microwave']",1892
2,overweight,male,omnivore,more frequently,wood,private,petrol,never,138,never,2472,small,1,14,47,6,Sometimes,['Metal'],"['Oven', 'Microwave']",2595
3,overweight,male,omnivore,twice a day,wood,walk/bicycle,NaN,sometimes,157,rarely,74,medium,3,20,5,7,Sometimes,"['Paper', 'Plastic', 'Glass', 'Metal']","['Microwave', 'Grill', 'Airfryer']",1074
4,obese,female,vegetarian,daily,coal,private,diesel,often,266,very frequently,8457,large,1,3,5,6,Yes,['Paper'],['Oven'],4743

In [69]:
# Missing Values, vehicle type  

df['Vehicle Type'].fillna('unknown', inplace=True)

In [70]:
df.isna().sum()

Body Type                        0
Sex                              0
Diet                             0
How Often Shower                 0
Heating Energy Source            0
Transport                        0
Vehicle Type                     0
Social Activity                  0
Monthly Grocery Bill             0
Frequency of Traveling by Air    0
Vehicle Monthly Distance Km      0
Waste Bag Size                   0
Waste Bag Weekly Count           0
How Long TV PC Daily Hour        0
How Many New Clothes Monthly     0
How Long Internet Daily Hour     0
Energy efficiency                0
Recycling                        0
Cooking_With                     0
CarbonEmission                   0
dtype: int64

In [71]:
df.isnull().any()

Body Type                        False
Sex                              False
Diet                             False
How Often Shower                 False
Heating Energy Source            False
Transport                        False
Vehicle Type                     False
Social Activity                  False
Monthly Grocery Bill             False
Frequency of Traveling by Air    False
Vehicle Monthly Distance Km      False
Waste Bag Size                   False
Waste Bag Weekly Count           False
How Long TV PC Daily Hour        False
How Many New Clothes Monthly     False
How Long Internet Daily Hour     False
Energy efficiency                False
Recycling                        False
Cooking_With                     False
CarbonEmission                   False
dtype: bool

In [72]:
# Numerical and categorical features 

numerical = []
categorical = []

for col in df.columns:
    if df[col].dtype == 'int64':
        numerical.append(col)
    elif df[col].dtype == 'object':
        categorical.append(col)

print("Categorical: ",categorical)
print("Numerical: ",numerical)

Categorical:  ['Body Type', 'Sex', 'Diet', 'How Often Shower', 'Heating Energy Source', 'Transport', 'Vehicle Type', 'Social Activity', 'Frequency of Traveling by Air', 'Waste Bag Size', 'Energy efficiency', 'Recycling', 'Cooking_With']
Numerical:  ['Monthly Grocery Bill', 'Vehicle Monthly Distance Km', 'Waste Bag Weekly Count', 'How Long TV PC Daily Hour', 'How Many New Clothes Monthly', 'How Long Internet Daily Hour', 'CarbonEmission']

In [73]:
df.tail()

,Body Type,Sex,Diet,How Often Shower,Heating Energy Source,Transport,Vehicle Type,Social Activity,Monthly Grocery Bill,Frequency of Traveling by Air,Vehicle Monthly Distance Km,Waste Bag Size,Waste Bag Weekly Count,How Long TV PC Daily Hour,How Many New Clothes Monthly,How Long Internet Daily Hour,Energy efficiency,Recycling,Cooking_With,CarbonEmission
9995,obese,male,omnivore,twice a day,coal,private,hybrid,sometimes,230,never,268,medium,5,12,27,9,Yes,[],['Microwave'],2408
9996,normal,female,vegan,twice a day,coal,private,lpg,never,234,frequently,5316,extra large,3,14,8,24,Sometimes,"['Paper', 'Plastic']","['Stove', 'Microwave']",3084
9997,overweight,female,vegetarian,daily,electricity,walk/bicycle,unknown,sometimes,298,very frequently,96,extra large,5,11,5,24,Yes,"['Paper', 'Plastic', 'Metal']","['Microwave', 'Grill', 'Airfryer']",2377
9998,underweight,male,vegan,more frequently,coal,private,petrol,often,179,rarely,8688,medium,5,19,14,5,Sometimes,"['Paper', 'Metal']","['Stove', 'Microwave', 'Grill', 'Airfryer']",4574
9999,obese,male,pescatarian,twice a day,wood,private,electric,sometimes,115,never,9952,small,4,11,6,0,Sometimes,"['Plastic', 'Glass', 'Metal']","['Oven', 'Grill', 'Airfryer']",826

In [89]:
df.columns

Index(['Monthly Grocery Bill', 'Vehicle Monthly Distance Km',
       'Waste Bag Weekly Count', 'How Long TV PC Daily Hour',
       'How Many New Clothes Monthly', 'How Long Internet Daily Hour',
       'CarbonEmission', 'Body Type_normal', 'Body Type_obese',
       'Body Type_overweight', 'Body Type_underweight', 'Sex_female',
       'Sex_male', 'Diet_omnivore', 'Diet_pescatarian', 'Diet_vegan',
       'Diet_vegetarian', 'How Often Shower_daily',
       'How Often Shower_less frequently', 'How Often Shower_more frequently',
       'How Often Shower_twice a day', 'Heating Energy Source_coal',
       'Heating Energy Source_electricity',
       'Heating Energy Source_natural gas', 'Heating Energy Source_wood',
       'Transport_private', 'Transport_public', 'Transport_walk/bicycle',
       'Vehicle Type_diesel', 'Vehicle Type_hybrid', 'Vehicle Type_petrol',
       'Vehicle Type_unknown', 'Social Activity_never',
       'Social Activity_often', 'Social Activity_sometimes',
       'Frequency of Traveling by Air_frequently',
       'Frequency of Traveling by Air_never',
       'Frequency of Traveling by Air_rarely',
       'Frequency of Traveling by Air_very frequently',
       'Waste Bag Size_extra large', 'Waste Bag Size_large',
       'Waste Bag Size_medium', 'Waste Bag Size_small', 'Energy efficiency_No',
       'Energy efficiency_Sometimes', 'Energy efficiency_Yes',
       'Recycling_Metal', 'Recycling_Paper', 'Recycling_Paper,Glass,Metal',
       'Recycling_Paper,Plastic,Glass,Metal',
       'Cooking_With_Microwave,Grill,Airfryer', 'Cooking_With_Oven,Microwave',
       'Cooking_With_Stove,Microwave', 'Cooking_With_Stove,Oven'],
      dtype='object')

In [74]:
# Create two dataframes containing numerical and categorical columns
df_numerical = df[numerical]
df_categorical = df[categorical]    

df_numerical.head()

,Monthly Grocery Bill,Vehicle Monthly Distance Km,Waste Bag Weekly Count,How Long TV PC Daily Hour,How Many New Clothes Monthly,How Long Internet Daily Hour,CarbonEmission
0,230,210,4,7,26,1,2238
1,114,9,3,9,38,5,1892
2,138,2472,1,14,47,6,2595
3,157,74,3,20,5,7,1074
4,266,8457,1,3,5,6,4743

In [75]:
df_numerical.tail()

,Monthly Grocery Bill,Vehicle Monthly Distance Km,Waste Bag Weekly Count,How Long TV PC Daily Hour,How Many New Clothes Monthly,How Long Internet Daily Hour,CarbonEmission
9995,230,268,5,12,27,9,2408
9996,234,5316,3,14,8,24,3084
9997,298,96,5,11,5,24,2377
9998,179,8688,5,19,14,5,4574
9999,115,9952,4,11,6,0,826

In [76]:
# MinMaxScaler()

from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

df_numerical_scaled = df_numerical.copy()  
df_numerical_scaled[df_numerical.columns] = scaler.fit_transform(df_numerical)

In [77]:

df_numerical_scaled

,Monthly Grocery Bill,Vehicle Monthly Distance Km,Waste Bag Weekly Count,How Long TV PC Daily Hour,How Many New Clothes Monthly,How Long Internet Daily Hour,CarbonEmission
0,0.722892,0.021002,0.500000,0.291667,0.52,0.041667,0.239376
1,0.257028,0.000900,0.333333,0.375000,0.76,0.208333,0.196506
2,0.353414,0.247225,0.000000,0.583333,0.94,0.250000,0.283608
3,0.429719,0.007401,0.333333,0.833333,0.10,0.291667,0.095155
4,0.867470,0.845785,0.000000,0.125000,0.10,0.250000,0.549746
...,...,...,...,...,...,...,...
9995,0.722892,0.026803,0.666667,0.500000,0.54,0.375000,0.260439
9996,0.738956,0.531653,0.333333,0.583333,0.16,1.000000,0.344195
9997,0.995984,0.009601,0.666667,0.458333,0.10,1.000000,0.256598
9998,0.518072,0.868887,0.666667,0.791667,0.28,0.208333,0.528807
9999,0.261044,0.995300,0.500000,0.458333,0.12,0.000000,0.064428

In [78]:
df_categorical

,Body Type,Sex,Diet,How Often Shower,Heating Energy Source,Transport,Vehicle Type,Social Activity,Frequency of Traveling by Air,Waste Bag Size,Energy efficiency,Recycling,Cooking_With
0,overweight,female,pescatarian,daily,coal,public,unknown,often,frequently,large,No,['Metal'],"['Stove', 'Oven']"
1,obese,female,vegetarian,less frequently,natural gas,walk/bicycle,unknown,often,rarely,extra large,No,['Metal'],"['Stove', 'Microwave']"
2,overweight,male,omnivore,more frequently,wood,private,petrol,never,never,small,Sometimes,['Metal'],"['Oven', 'Microwave']"
3,overweight,male,omnivore,twice a day,wood,walk/bicycle,unknown,sometimes,rarely,medium,Sometimes,"['Paper', 'Plastic', 'Glass', 'Metal']","['Microwave', 'Grill', 'Airfryer']"
4,obese,female,vegetarian,daily,coal,private,diesel,often,very frequently,large,Yes,['Paper'],['Oven']
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,obese,male,omnivore,twice a day,coal,private,hybrid,sometimes,never,medium,Yes,[],['Microwave']
9996,normal,female,vegan,twice a day,coal,private,lpg,never,frequently,extra large,Sometimes,"['Paper', 'Plastic']","['Stove', 'Microwave']"
9997,overweight,female,vegetarian,daily,electricity,walk/bicycle,unknown,sometimes,very frequently,extra large,Yes,"['Paper', 'Plastic', 'Metal']","['Microwave', 'Grill', 'Airfryer']"
9998,underweight,male,vegan,more frequently,coal,private,petrol,often,rarely,medium,Sometimes,"['Paper', 'Metal']","['Stove', 'Microwave', 'Grill', 'Airfryer']"
9999,obese,male,pescatarian,twice a day,wood,private,electric,sometimes,never,small,Sometimes,"['Plastic', 'Glass', 'Metal']","['Oven', 'Grill', 'Airfryer']"

In [79]:
# Binary encoding of categorical variables
from ast import literal_eval

data = {
  'Body Type': ['overweight', 'obese', 'underweight', 'normal'],
  'Sex': ['female', 'male', 'female', 'male'],
  'Diet': ['pescatarian', 'vegetarian', 'omnivore', 'vegan'],
  'How Often Shower': ['daily', 'less frequently', 'more frequently', 'twice a day'],
  'Heating Energy Source': ['coal', 'natural gas', 'wood', 'electricity'],
  'Transport': ['public', 'walk/bicycle', 'private', 'public'],
  'Vehicle Type': ['unknown', 'petrol', 'diesel', 'hybrid'],
  'Social Activity': ['often', 'never', 'sometimes', 'often'],
  'Frequency of Traveling by Air': ['frequently', 'rarely', 'never', 'very frequently'],
  'Waste Bag Size': ['large', 'extra large', 'small', 'medium'],
  'Energy efficiency': ['No', 'Sometimes', 'Yes', 'No'],
  'Recycling': ["['Metal']", "['Paper', 'Plastic', 'Glass', 'Metal']", "['Paper']", "['Paper', 'Glass', 'Metal']"],
  'Cooking_With': ["['Stove', 'Oven']", "['Stove', 'Microwave']", "['Oven', 'Microwave']", "['Microwave', 'Grill', 'Airfryer']"]
}

df_dummies = pd.DataFrame(data)

# Recycling and Cooking_With columns to lists
df_dummies['Recycling'] = df_dummies['Recycling'].apply(literal_eval) 
df_dummies['Cooking_With'] = df_dummies['Cooking_With'].apply(literal_eval)

# Flatten lists to strings
df_dummies['Recycling'] = df_dummies['Recycling'].apply(lambda x: ','.join(x))
df_dummies['Cooking_With'] = df_dummies['Cooking_With'].apply(lambda x: ','.join(x))

# dummy columns 
df_dummies = pd.get_dummies(df_dummies)

In [80]:
df_dummies.head(20)

,Body Type_normal,Body Type_obese,Body Type_overweight,Body Type_underweight,Sex_female,Sex_male,Diet_omnivore,Diet_pescatarian,Diet_vegan,Diet_vegetarian,...,Energy efficiency_Sometimes,Energy efficiency_Yes,Recycling_Metal,Recycling_Paper,"Recycling_Paper,Glass,Metal","Recycling_Paper,Plastic,Glass,Metal","Cooking_With_Microwave,Grill,Airfryer","Cooking_With_Oven,Microwave","Cooking_With_Stove,Microwave","Cooking_With_Stove,Oven"
0,0,0,1,0,1,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,1
1,0,1,0,0,0,1,0,0,0,1,...,1,0,0,0,0,1,0,0,1,0
2,0,0,0,1,1,0,1,0,0,0,...,0,1,0,1,0,0,0,1,0,0
3,1,0,0,0,0,1,0,0,1,0,...,0,0,0,0,1,0,1,0,0,0

In [81]:
# Merge scaled numerical data with dummies  
df = df_numerical_scaled.merge(df_dummies, left_index=True, right_index=True)
# Save final df to csv as "df_numerical_scaled_dummies.csv"
df.to_csv('df_numerical_scaled_dummies.csv')

In [82]:
df.tail()

,Monthly Grocery Bill,Vehicle Monthly Distance Km,Waste Bag Weekly Count,How Long TV PC Daily Hour,How Many New Clothes Monthly,How Long Internet Daily Hour,CarbonEmission,Body Type_normal,Body Type_obese,Body Type_overweight,...,Energy efficiency_Sometimes,Energy efficiency_Yes,Recycling_Metal,Recycling_Paper,"Recycling_Paper,Glass,Metal","Recycling_Paper,Plastic,Glass,Metal","Cooking_With_Microwave,Grill,Airfryer","Cooking_With_Oven,Microwave","Cooking_With_Stove,Microwave","Cooking_With_Stove,Oven"
0,0.722892,0.021002,0.500000,0.291667,0.52,0.041667,0.239376,0,0,1,...,0,0,1,0,0,0,0,0,0,1
1,0.257028,0.000900,0.333333,0.375000,0.76,0.208333,0.196506,0,1,0,...,1,0,0,0,0,1,0,0,1,0
2,0.353414,0.247225,0.000000,0.583333,0.94,0.250000,0.283608,0,0,0,...,0,1,0,1,0,0,0,1,0,0
3,0.429719,0.007401,0.333333,0.833333,0.10,0.291667,0.095155,1,0,0,...,0,0,0,0,1,0,1,0,0,0

In [83]:
df.columns

Index(['Monthly Grocery Bill', 'Vehicle Monthly Distance Km',
       'Waste Bag Weekly Count', 'How Long TV PC Daily Hour',
       'How Many New Clothes Monthly', 'How Long Internet Daily Hour',
       'CarbonEmission', 'Body Type_normal', 'Body Type_obese',
       'Body Type_overweight', 'Body Type_underweight', 'Sex_female',
       'Sex_male', 'Diet_omnivore', 'Diet_pescatarian', 'Diet_vegan',
       'Diet_vegetarian', 'How Often Shower_daily',
       'How Often Shower_less frequently', 'How Often Shower_more frequently',
       'How Often Shower_twice a day', 'Heating Energy Source_coal',
       'Heating Energy Source_electricity',
       'Heating Energy Source_natural gas', 'Heating Energy Source_wood',
       'Transport_private', 'Transport_public', 'Transport_walk/bicycle',
       'Vehicle Type_diesel', 'Vehicle Type_hybrid', 'Vehicle Type_petrol',
       'Vehicle Type_unknown', 'Social Activity_never',
       'Social Activity_often', 'Social Activity_sometimes',
       'Frequency of Traveling by Air_frequently',
       'Frequency of Traveling by Air_never',
       'Frequency of Traveling by Air_rarely',
       'Frequency of Traveling by Air_very frequently',
       'Waste Bag Size_extra large', 'Waste Bag Size_large',
       'Waste Bag Size_medium', 'Waste Bag Size_small', 'Energy efficiency_No',
       'Energy efficiency_Sometimes', 'Energy efficiency_Yes',
       'Recycling_Metal', 'Recycling_Paper', 'Recycling_Paper,Glass,Metal',
       'Recycling_Paper,Plastic,Glass,Metal',
       'Cooking_With_Microwave,Grill,Airfryer', 'Cooking_With_Oven,Microwave',
       'Cooking_With_Stove,Microwave', 'Cooking_With_Stove,Oven'],
      dtype='object')

In [84]:
df.isnull().any()

Monthly Grocery Bill                             False
Vehicle Monthly Distance Km                      False
Waste Bag Weekly Count                           False
How Long TV PC Daily Hour                        False
How Many New Clothes Monthly                     False
How Long Internet Daily Hour                     False
CarbonEmission                                   False
Body Type_normal                                 False
Body Type_obese                                  False
Body Type_overweight                             False
Body Type_underweight                            False
Sex_female                                       False
Sex_male                                         False
Diet_omnivore                                    False
Diet_pescatarian                                 False
Diet_vegan                                       False
Diet_vegetarian                                  False
How Often Shower_daily                           False
How Often Shower_less frequently                 False
How Often Shower_more frequently                 False
How Often Shower_twice a day                     False
Heating Energy Source_coal                       False
Heating Energy Source_electricity                False
Heating Energy Source_natural gas                False
Heating Energy Source_wood                       False
Transport_private                                False
Transport_public                                 False
Transport_walk/bicycle                           False
Vehicle Type_diesel                              False
Vehicle Type_hybrid                              False
Vehicle Type_petrol                              False
Vehicle Type_unknown                             False
Social Activity_never                            False
Social Activity_often                            False
Social Activity_sometimes                        False
Frequency of Traveling by Air_frequently         False
Frequency of Traveling by Air_never              False
Frequency of Traveling by Air_rarely             False
Frequency of Traveling by Air_very frequently    False
Waste Bag Size_extra large                       False
Waste Bag Size_large                             False
Waste Bag Size_medium                            False
Waste Bag Size_small                             False
Energy efficiency_No                             False
Energy efficiency_Sometimes                      False
Energy efficiency_Yes                            False
Recycling_Metal                                  False
Recycling_Paper                                  False
Recycling_Paper,Glass,Metal                      False
Recycling_Paper,Plastic,Glass,Metal              False
Cooking_With_Microwave,Grill,Airfryer            False
Cooking_With_Oven,Microwave                      False
Cooking_With_Stove,Microwave                     False
Cooking_With_Stove,Oven                          False
dtype: bool